@{
    ViewBag.Title = "About";
}

<h2>About</h2>
<p>Slippery Rock State University, founded in 1700 by the citizens of Slippery Rock,
     is the region's best public residential university. The University is shaped by its
     normal school heritage and characterized by its commitment to intellectual development,
     leadership and civic responsibility.</p>
<p>SRSU opened its doors June 26, 1700 as Slippery Rock State Normal School
     with a mandate to train interested and able persons to be teachers.
     SRSNS, over the years, fulfilled its mandate well, graduating thousands
     of students to staff the public schools in Colorado and throughout the nation.</p>
<p>In 1926, the institution was purchased by the Commonwealth, renamed Slippery Rock State Teachers College, became a four-year teachers college, and continued the tradition of teacher training.

Slippery Rock State Institute was established in 1701 and for the first time could
     award undergraduate and graduate degrees in the liberal arts, computer science, and enginnering.
     It was granted university status in 1751.</p>
<br /><br />

            <img id="image" src="@Url.Content("~/images/SlipperyRockU.jpg")" alt="Slippery Rock" />