@model IEnumerable<SATProject.ScheduledClassStatu>

@{
    ViewBag.Title = "Class Statuses";
}

<h2>Class Statuses</h2>

@if (User.IsInRole("Admin"))
{
    <br />
<p class="createNew">
    @Html.ActionLink("Create New Class Status", "Create")
</p>
}
@foreach (var item in Model) {
    <div id="indexWrapper">
        <div id="indexHeader">
            Class Status Name:
        </div>
        <div id="indexBody">
            @Html.ActionLink(item.SCSName, "Details", new { id=item.SCSID })
        </div>
        <div id="indexFooterCS2">
            @if (User.IsInRole("Admin"))
        {
            @Html.ActionLink("Edit", "Edit", new { id=item.SCSID })
            @:&nbsp;          
            @Html.ActionLink("Delete", "Delete", new { id=item.SCSID })
        }
        </div>
    </div>
}