@{
    ViewBag.Title = "Index";
}


			<h2>Welcome To SRSU!</h2>
            <p>
                Here at Slippery Rock State University we train our students with a highly experienced
                staff and with the most up to date equipment. Since we were established in the 1700s 
                we have fine tuned our teaching style to the point of perfection. Located in the rolling
                 hills of southern Colorado, SRSU is the southern-most institution of the 14-campus
                 Colorado State System of Higher Education. The 1000-acre campus is less than an
                 hour north of Boulder, one hour south of the mountains.
                 Two major highways, I-79 and I-80, intersect within seven miles of the University,
                 conveniently linking it to the entire Commonwealth and its contiguous regions.
            </p>	
            <br /><br />

            <img id="image" src="@Url.Content("~/images/slipperyrockU2.jpg")" alt="Slippery Rock" />


           @* <p>This template has been tested in:</p>


            <ul class="styledlist">
                <li>Firefox</li>
                <li>Opera</li>
                <li>IE 6, 7, 8 and 9</li>
                <li>Chrome</li>
            </ul>
    
            <h3>Buy unbranded</h3>



            <p>Purchasing a template license for 8.00 GBP (at time of writing around 12 USD) gives you the right to remove any branding including links, logos and source tags relating to ZyPOP. As well as waiving the attribution requirement, your payment will also help us provide continued support for users as well as creating new web templates. Find out more about how to buy at the licensing page on our website which can be accessed at <a href="http://zypopwebtemplates.com/licensing" title="template license">http://zypopwebtemplates.com/licensing</a></p>

<h3>Lorem lipsum</h3>

<p>Morbi fermentum condimentum felis, commodo vestibulum sem mattis sed. Aliquam magna ante, mollis vitae tincidunt in, malesuada vitae turpis. Sed aliquam libero ut velit bibendum consectetur. Quisque sagittis, est in laoreet semper, enim dui consequat felis, faucibus ornare urna velit nec leo. Maecenas condimentum velit vitae est lobortis fermentum. In tristique sem vitae metus ornare luctus tempus nisl volutpat. Integer et est id nisi tempus pharetra sagittis et libero.</p>
*@

        